.App {
  background-color: pink;
  height: 100vh;
  padding: 50px;
}
.card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
}
.prix {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-style: inherit;
  font-size: x-large;
}
.descri {
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
.text-light {
  text-align: center;
  font-weight: bolder;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
}
.card {
  margin: auto;
  text-align: center;
}
img {
  width: 100%;
}
